div{
    color: chocolate;
}

.one{
    width: 800 px;
    margin: 0 auto;
    overflow: hidden;
    float: left;
}

.two{
    width: 100%;
    float: left;
}

.three{
    width:100%;
    clear: both;
}

.four,.six{
    float:left;
    width:30%;
}

.five{
    float:left;
width:40%;
}

.seven{
    width:70%;
margin:50px auto;
}


